    <footer>
  <p class="direitos">© 2025 Invictus. Todos os direitos reservados.</p>
  <p class="ferramentas">Feito com amor usando <a href="https://www.netlify.com/">Netlify</a></p><p class="ferramentas">hospedado no <a href="https://github.com/">GitHub</a></p>
  <div class="referencias">
    <a href="../Termos/">Termos</a>
    <a href="../privacidade/">Política de Privacidade</a>
    <a href="https://github.com/italo-77/projeto-blog" target="_blank">Código-fonte</a>
  </div>
  <div class="social">
    <a class="whatsapp" href="https://wa.me/5537998037184">Whatsapp</a>
    <a class="github" href="https://github.com/italo-77">GitHub</a>
  </div>
  </footer>