* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #414145;
	box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}