.bloco-termos{
	border: 1.5px solid white;
	border-radius: 25px;
	margin: 20px;
	padding: 15px;
}

.bloco-termos h2 {
	color: darkslategray;
	font-size: 120%;
	font-family: times new roman;
	margin: 10px;
}

.bloco-termos p {
	color: white;
	font-size: 100%;
	font-family: georgia;
}

.limitacoes {
	border: 1.3px solid bisque;
	border-radius: 25px;
	padding: 15px;
	margin: 10px;
}